In [14]:
!pip install pandas


import numpy as np
import pandas as pd
heroes_information = pd.read_csv("heroes_information.csv")

Requirement already satisfied: pandas in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\barri\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [15]:
###instalar desde anaconda navigator######
####pandasql
####mysql
####mysql-connector-c
####mysql-connector-python

!pip install pandasql

from pandasql import *

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\barri\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: pandasql in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandasql) (1.26.3)
Requirement already satisfied: pandas in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandasql) (2.2.0)
Requirement already satisfied: sqlalchemy in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandasql) (2.0.31)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->pandasql) (2023.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy->pandasql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\barri\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

In [16]:
####para enlistar los documentos en el directorio#####
os.listdir()

['.ipynb_checkpoints', 'heroes_information.csv', 'SQL Competition.ipynb']

In [17]:
pysqldf = lambda q: sqldf(q,globals())

In [18]:
query1 = """
SELECT "Name"
FROM heroes
ORDER BY "Name" ASC
LIMIT 1;
"""

pysqldf(query1)

PandaSQLException: (sqlite3.OperationalError) no such table: heroes
[SQL:
SELECT "Name"
FROM heroes
ORDER BY "Name" ASC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
query2 = """
SELECT COUNT(DISTINCT "Publisher") as num_publishers
FROM heroes;
"""

pysqldf(query2)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

In [ ]:
query3 = """
SELECT COUNT(*) as num_heroes
FROM heroes
WHERE Height > 200;
"""

pysqldf(query3)

PandaSQLException: (sqlite3.OperationalError) no such table: heroes
[SQL:
SELECT COUNT(*) as num_heroes
FROM heroes
WHERE Height > 200;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
query5 = """
SELECT COUNT(*) as num_heroes
FROM heroes
WHERE Weight > 100 AND Weight < 200;
"""

pysqldf(query5)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0

In [ ]:
query6 = """
SELECT COUNT(*) as num_heroes
FROM heroes
WHERE EyeColor = 'Blue' OR EyeColor = 'Red';
"""

pysqldf(query6)

PandaSQLException: (sqlite3.OperationalError) no such table: heroes
[SQL:
SELECT COUNT(*) as num_heroes
FROM heroes
WHERE EyeColor = 'Blue' OR EyeColor = 'Red';
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
query7 = """
SELECT COUNT(*) as num_heroes
FROM heroes
WHERE 
    ("Race" = 'Human' OR "Race" = 'Mutant') AND "HairColor" = 'Green'
    OR ("Race" = 'Vampire' AND "HairColor" = 'Black');
"""

pysqldf(query7)

            Publisher  count
0                None     15
1         ABC Studios      4
2           DC Comics    215
3   Dark Horse Comics     18
4        George Lucas     14
5       Hanna-Barbera      1
6       HarperCollins      6
7      IDW Publishing      4
8         Icon Comics      4
9        Image Comics     14
10      J. K. Rowling      1
11   J. R. R. Tolkien      1
12      Marvel Comics    388
13          Microsoft      1
14       NBC - Heroes     19
15          Rebellion      1
16           Shueisha      4
17      Sony Pictures      2
18         South Park      1
19          Star Trek      6
20               SyFy      5
21       Team Epic TV      5
22        Titan Books      1
23  Universal Studios      1
24          Wildstorm      3

In [ ]:
query8 = """
SELECT "Name"
FROM heroes
ORDER BY "Race" DESC
LIMIT 1;
"""

pysqldf(query8)

PandaSQLException: (sqlite3.OperationalError) no such table: heroes
[SQL:
SELECT "Name"
FROM heroes
ORDER BY "Race" DESC
LIMIT 1;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
query9 = """
SELECT "Gender", COUNT(*) as num_heroes
FROM heroes
WHERE "Gender" IN ('Male', 'Female')
GROUP BY "Gender";
"""

pysqldf(query9)

   num_heroes
0          12

In [ ]:
query10 = """
SELECT COUNT(*) as num_publishers
FROM (
    SELECT "Publisher", COUNT(*) as num_heroes
    FROM heroes
    GROUP BY "Publisher"
    HAVING COUNT(*) > 15
) as subquery;
"""

pysqldf(query10)

   num_heroes
0          98